## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hermanus,-34.4187,19.2345,55.80,88,77,10.09,broken clouds,2021-08-02 03:34:34
1,1,Albany,42.6001,-73.9662,64.35,94,100,1.03,overcast clouds,2021-08-02 03:34:32
2,2,Vaini,-21.2000,-175.2000,75.36,73,20,17.27,few clouds,2021-08-02 03:36:06
3,3,Aykhal,66.0000,111.5000,78.10,30,46,13.67,scattered clouds,2021-08-02 03:37:34
4,4,Emba,48.8264,58.1442,89.49,28,4,7.63,clear sky,2021-08-02 03:37:34

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
2,2,Vaini,-21.2000,-175.2000,75.36,73,20,17.27,few clouds,2021-08-02 03:36:06
3,3,Aykhal,66.0000,111.5000,78.10,30,46,13.67,scattered clouds,2021-08-02 03:37:34
4,4,Emba,48.8264,58.1442,89.49,28,4,7.63,clear sky,2021-08-02 03:37:34
7,7,Pervomayskoye,43.9190,46.7102,83.23,47,88,10.71,overcast clouds,2021-08-02 03:37:35
8,8,Ormara,25.2088,64.6357,82.22,84,96,15.17,overcast clouds,2021-08-02 03:37:35
9,9,Pekalongan,-6.8886,109.6753,87.01,61,14,3.87,few clouds,2021-08-02 03:37:35
16,16,Nouakchott,18.0858,-15.9785,76.93,85,80,13.02,broken clouds,2021-08-02 03:37:37
17,17,Atuona,-9.8000,-139.0333,77.43,68,18,11.48,few clouds,2021-08-02 03:37:38
19,19,Carutapera,-1.1950,-46.0200,72.10,89,60,2.30,broken clouds,2021-08-02 03:37:38
20,20,Nelson Bay,-32.7167,152.1500,68.09,60,74,11.79,broken clouds,2021-08-02 03:37:39

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                433
City                   433
Lat                    433
Lng                    433
Max Temp               433
Humidity               433
Cloudiness             433
Wind Speed             433
Current Description    433
Date                   433
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City  Max Temp Current Description      Lat       Lng Hotel Name
2           Vaini     75.36          few clouds -21.2000 -175.2000
3          Aykhal     78.10    scattered clouds  66.0000  111.5000
4            Emba     89.49           clear sky  48.8264   58.1442
7   Pervomayskoye     83.23     overcast clouds  43.9190   46.7102
8          Ormara     82.22     overcast clouds  25.2088   64.6357
9      Pekalongan     87.01          few clouds  -6.8886  109.6753
16     Nouakchott     76.93       broken clouds  18.0858  -15.9785
17         Atuona     77.43          few clouds  -9.8000 -139.0333
19     Carutapera     72.10       broken clouds  -1.1950  -46.0200
20     Nelson Bay     68.09       broken clouds -32.7167  152.1500

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [12]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,Aykhal,78.10,scattered clouds,66.0000,111.5000,
4,Emba,89.49,clear sky,48.8264,58.1442,
7,Pervomayskoye,83.23,overcast clouds,43.9190,46.7102,
8,Ormara,82.22,overcast clouds,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
9,Pekalongan,87.01,few clouds,-6.8886,109.6753,Namira Syariah Hotel
16,Nouakchott,76.93,broken clouds,18.0858,-15.9785,HOTEL IMAN فندق إيمان
17,Atuona,77.43,few clouds,-9.8000,-139.0333,Villa Enata
19,Carutapera,72.10,broken clouds,-1.1950,-46.0200,Lidera
20,Nelson Bay,68.09,broken clouds,-32.7167,152.1500,Mantra Nelson Bay

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacations.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))